* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(53, 53, 53);
}

.wrapper {
	height: 90vh;
	margin: 2rem auto;
	position: relative;
	width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper > input {
	display: none;
}

.slider {
	height: 70vh;
	width: 90vw;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.slides {
	height: inherit;
	position: absolute;
	width: inherit;
	text-align: center;
}

.image {
	max-width: 100%;
	height:100%;
	opacity: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1 > .image,
#slide2:checked ~ .slider > .slide2 > .image,
#slide3:checked ~ .slider > .slide3 > .image,
#slide4:checked ~ .slider > .slide4 > .image{
	opacity: 1;
	transform: scale(1);
}

.controls-wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
}

.legend {
 height: 15vh;
}

.controls {
	display: flex;
}

.control-item {
	height: 2rem;
	width: 2rem;
	display: flex;
    justify-content: center;
	cursor: pointer;
	align-items: center;
	transition: background ease-in-out .5s;
}

.bottom {
	width: 1rem;
	height: 1rem;
	border: 0.2rem solid rgb(69, 85, 180);
	background-color: rgb(69, 85, 180);
	border-radius: .5rem;
	transition: all ease-in-out .5s;
}

.control-item:hover > .bottom {
	background-color: white;
	border-color: white;
}
.control-item:active > .bottom {
	background-color: red;
	border-color: red;
}

#slide1:checked ~ .controls-wrapper > .controls > .control-item[for='slide1'] > .bottom,
#slide2:checked ~ .controls-wrapper > .controls > .control-item[for='slide2'] > .bottom,
#slide3:checked ~ .controls-wrapper > .controls > .control-item[for='slide3'] > .bottom,
#slide4:checked ~ .controls-wrapper > .controls > .control-item[for='slide4'] > .bottom{
	background-color: rgb(53, 53, 53);
}

@media (max-width: 400px){
    .slider {
        height: 55vh;
    }

    .controls-wrapper {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 28vh;
    }

    .controls {
        margin: 0 auto;
    }
}